@charset 'UTF-8';

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^='icon-']:before, [class*=' icon-']:before {
  font-family: 'symbols-technomart';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  font-size: 100%;}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

/* Common styles */
body {
    min-width: 960px;
    font-size: 13px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.container-center {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

.page-title {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 30px;
    line-height: 38px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.page-text {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
}

.btn {
    display: block;
    padding: 10px 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    background-color: #ee3643;
}

.btn:hover {
    background-color: #ca2c37;
    outline: none;
}

.btn:active {
    background-color: #ba2732;
    outline: none;
}

/* MAIN HEADER start */

.main-header {
    font-family: 'Cuprum', 'Arial', sans-serif;
}

/* Main Header Bar */
.main-header-bar {
    background-color: #293449;
}

.logo {
    float: left;
    width: 220px;
    padding: 11px 0 7px 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    background-color: #ee3643;
    border-radius: 0;
    box-shadow: 0 5px #b52933;
}

.bar-logo:hover {
    background-color: #ca2c37;
}

.bar-logo:active {
    background-color: #ba2732;
}

.search {
    position: relative;
    float: left;
    width: 270px;
}

.search-field {
    float: right;
    width: 220px;
    height: 40px;
    padding-left: 49px;
    border: none;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #ffffff;
    background-color: #293449;
    outline: none;
}

.search-field::-webkit-input-placeholder {
    color: #ffffff;
}
 
.search-field:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}
 
.search-field::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}
 
.search-field:-ms-input-placeholder {
    color: #ffffff;
}

.search-submit {
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    color: #6a7180;
}


.icon-search:before {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 17px;
}

.search:hover,
.search:hover .search-submit{
    background-color: #212a3a;
    color: #ffffff;
}

.search-field:focus,
.search-field:focus + .search-submit {
    background-color: #ffffff;
}

.search-field:focus {
    color: #000000;
}

.search-field:focus + .search-submit {
    color: #ee3643;
}

.bar-btn {
    position: relative;
    float: left;
    width: 148px;
    padding: 12px 2px 12px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #293449;
    border-radius: 0;
}

.bar-btn:last-child {
    margin-right: 0;
}

.bar-bookmark-count,
.bar-cart-count {
    width: 128px;
    padding-left: 20px;
}

.bar-bookmark-count:hover,
.bar-cart-count:hover {
    background-color: #212a3a;
}

.bar-bookmark-count:active,
.bar-cart-count:active {
    background-color: #161d29;
    color: #a2a4a6;
}

.icon-bookmark:before,
.icon-basket:before {
    position: absolute;
    left: 12px;
    opacity: 0.3;
}

.icon-bookmark:hover:before,
.icon-basket:hover:before {
    opacity: 1;
}

.icon-bookmark:active:before,
.icon-basket:active:before {
    opacity: 0.3;
}

.bar-order-btn {
    background-color: #63a63e;
}

.bar-order-btn:hover {
    background-color: #5fbb2d
}

.bar-order-btn:active {
    background-color: #518534;
}

/* Main Header Content */
.main-header-content {
    padding: 46px 0 60px 0;
    background-color: #f1f5f7;
}

.header-content-cols {
    margin-bottom: 39px;
}

.main-header-text {
    float: left;
    width: 218px;
    margin: 3px 51px 0 51px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 400;
    color: #ee3643;
}

.main-header-contacts {
    float: left;
    width: 270px;
}

.contacts-tel {
    padding: 8px;
    border: 3px solid #ffffff;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.icon-phone:before {
    margin-right: 32px;
    color: #b7bfc8;
}

.contacts-adress {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-block {
    float: right;
    width: 300px;
}

.user-block-btn {
    float: left;
    width: 85px;
    padding: 11px 24px 12px 24px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

.user-block-login {
    margin: 0 10px 0 19px;
    padding-left: 10px;
    padding-right: 26px;
}

.user-block-sign-up {
    width: 102px;
}

.user-block-login:hover,
.user-block-sign-up:hover {
    color: #ee3643;
}

.user-block-login:active,
.user-block-sign-up:active {
    color: #c5c5c5;
}

.icon-login:before {
    color: #c5c5c5;
}

.icon-login:hover:before {
    color: #32425c;
}

.icon-login:active:before {
    color: #c5c5c5;
}

/* Main Navigation */
.main-nav {
    padding: 0;
}

.main-nav-list {
    padding: inherit;
    font-size: 0;
}

.main-nav-item {
    display: inline-block;
    vertical-align: top;
}

.main-nav-link {
    display: block;
    padding: 20px 30px 18px 30px;
    border-bottom: 5px solid #293449;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    background-color: #32425c;
    border-radius: 0;
}

.main-nav-item:first-child .main-nav-link {
    padding-left: 52px;
    padding-right: 32px;
}

.main-nav-item:last-child .main-nav-link {
    padding-left: 31px;
    padding-right: 55px;
}

.main-nav-link:hover {
    background-color: #293449;
}

.main-nav-link:active {
    color: #b2b2b2;
    background-color: #1d2739;
}

/* MAIN HEADER end */

/* MAIN CONTENT start */
.features {
    margin: 59px auto 33px auto;
}

.features-col-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.features-col-right {
    float: right;
    margin-bottom: 20px;
}

.features-item {
    position: relative;
    width: 276px;
    padding-left: 24px;
}

.features-item:first-child {
    background-color: #f6b22d;
}

.features-item:nth-child(2) {
    background-color: #4aafde;
}

.features-item:nth-child(3) {
    background-color: #cc79d1;
}

.features-item:nth-child(5) {
    background-color: #85d179;
}

.features-item:last-child {
    background-color: #f6b22d;
}

.features-item:before {
    content: '';
    position: absolute;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

.features-item:first-child:before {
    top: 24%;
    right: 14%;
    width: 44px;
    height: 65px;
    background-position: -93px -5px;
}

.features-item:nth-child(2):before {
    top: 27%;
    right: 9%;
    width: 75px;
    height: 61px;
    background-position: -304px -5px;;
}

.features-item:nth-child(3):before {
    top: 24%;
    right: 10%;
    width: 78px;
    height: 62px;
    background-position: -147px -5px;
}

.features-item:nth-child(5):before {
    top: 21%;
    right: 15%;
    width: 59px;
    height: 72px;
    background-position: -235px -5px;
}

.features-item:last-child:before {
    top: 26%;
    right: 10%;
    width: 78px;
    height: 63px;
    background-position: -5px -5px;
}

.flag-new:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -389px -5px;
}

.features-item-title {
    width: 170px;
    margin: 21px 0 12px 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.features-item-btn {
    width: 135px;
    margin-bottom: 22px;
    background-color: rgba(0, 0, 0, 0.1);
}

.features-item-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.features-item-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.features-slider {
    position: relative;
    width: 620px;
}

.features-slider input[type='radio'] {
    display: none;
}

.features-slider-arrows {
    position: relative;
}

.features-slider-arrow {
    position: absolute;
    top: 111px;
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    background: none;
    text-decoration: none;
    cursor: pointer;
    z-index: 50;
}

.icon-left {
    left: 0;
}

.icon-right {
    right: 0;
}

.icon-left:before {
    margin-left: 12px;
}

.features-slider-controls {
    position: absolute;
    left: 47.5%;
    bottom: 36px;
    z-index: 100;
    text-align: center;
    font-size: 0;
}

.features-slider-control {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.features-slider-control:first-child {
    margin-right: 10px;
}

.features-slider-btn-1:checked ~ .features-slider-controls .control-1,
.features-slider-btn-2:checked ~ .features-slider-controls .control-2 {
    background-color: #ca2c37;
}

.features-slider-inner {
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #dda028;
}

.features-slider-btn-1:checked ~ .features-slider-inner {
    background-image: url(../images/features_slide-1_perforator.jpg);
}

.features-slider-btn-2:checked ~ .features-slider-inner {
    background-image: url(../images/features_slide-2_drill.jpg);
}

.features-slides {
    width: 200%;
    min-height: 266px;
}

.features-slider-btn-1:checked ~ .features-slider-inner .features-slides {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.features-slider-btn-2:checked ~ .features-slider-inner .features-slides {
    -webkit-transform: translate(-620px);
    -ms-transform: translate(-620px);
    transform: translate(-620px);
}

.features-slide {
    float: left;
    width: 570px;
    padding: 23px 25px 22px 25px;
}

.features-slide-title {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.features-slide-text {
    margin: 0 0 123px 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.features-slide-btn {
    width: 195px;
}

/* Popular Products */
.index-header {
    margin-bottom: 20px;
    padding: 25px 24px 26px 26px;
    background-color: #f7f3ec;
}

.index-header-title {
    float: left;
    max-width: 60%;
    color: #32425c;
}

.index-header-btn {
    min-width: 253px;
    max-width: 40%;
    float: right;
}

.products {
    font-size: 0;
}

.product-card {
    position: relative;
    width: 218px;
    min-height: 316px;
    margin-right: 20px;
    margin-bottom: 21px;
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.popular-products .product-card:nth-child(4n) {
    margin-right: 0;
}

.product-card:hover {
    border-color: #ffffff;
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-card-actions {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 42px 0 42px 0;
    background-color: #fff;
}

.product-card:hover .product-card-actions {
    display: block;
}

.product-card-actions-buy,
.product-card-actions-bookmark {
    width: 135px;
    margin: 0 auto 7px auto;
    background-color: #63a63e;
}

.product-card-actions-buy {
    position: relative;
    box-shadow: inset 0 -3px 0 #367315;
}

.product-card-actions-bookmark {
    width: 129px;
    vertical-align: middle;
    border: 3px solid #63a63e;
    line-height: 14px;
    color: #000000;
    background-color: #ffffff;
}

.product-card-actions-buy:hover {
    background-color: #5fbb2d;
}

.product-card-actions-buy:active {
    background-color: #518534;
    box-shadow: inset 0 -3px 0 #518534;
}


.product-card-actions-bookmark:hover {
    color: #32425c;
    background-color: #ffffff;
    border-color: #32425c;
}

.product-card-actions-bookmark:active {
    color: #c1c6ce;
    background-color: #ffffff;
    border-color: #c1c6ce;
}

.product-card-actions .icon-basket:before {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 3px;
    margin-right: 20px;
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
}

.product-card-actions .icon-basket:hover:before,
.product-card-actions .icon-basket:active:before {
    opacity: 1;
}

.product-card-image {
    display: inline-block;
    vertical-align: top;
    width: 218px;
    height: 160px;
    margin-bottom: 18px;
    text-align: center;
    line-height: 168px;
    overflow: hidden;
}

.product-card-image img {
    vertical-align: middle;
}

.product-card-title {
    margin: 0 0 12px 0;
    padding: 0 25px;
    font-size: 18px;
    line-height: 20px;
}

.product-card-discount {
    min-height: 20px;
    margin-bottom: 8px;
    font-weight: 700;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #999999;
}

.product-card-price {
    position: relative;
    width: 80px;
    margin: 0 0 20px 42px;
    padding: 10px 30px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

.product-card-price:after {
    content: '';
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

/* Popular Brands */
.brands-list {
    font-size: 0;
    margin-bottom: 65px;
}
.brands-item {
    display: inline-block;
    vertical-align: top;
    width: 218px;
    margin-right: 20px;
    text-align: center;
    line-height: 143px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.brands-item:hover {
    border-color: #ffffff;
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-item:active {
    border-color: #ffffff;
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands-item img {
    vertical-align: middle;
}

.brands-item:nth-child(4n) {
    margin-right: 0;
}

.brands-item:active img {
    opacity: 0.5;
}

/* Service */

.service {
    padding-top: 62px;
    background-color: #f2f6f8;
}

.service-title {
    margin-bottom: 22px;
}

.service-text {
    width: 400px;
    margin-bottom: 68px;
}

.service-slider {
    width: 940px;
}

.service-slider-controls {
    position: relative;
    float: left;
    width: 240px;
}

/* pseudo-shadow */
.service-slider-controls:after {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 100;
    width: 10px;
    height: 272px;
    background: url(../images/sprite.png) no-repeat;
    background-position: -459px 0;
}

.service-slider-control {
    display: block;
    padding: 14px 22px 15px 22px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #32425c;
    cursor: pointer;
}

.service-slider-control:hover {
    background-color: #293449;
}

.service-slider input[type='radio'] {
    display: none;
}

.service-slider-btn-1:checked ~ .service-slider-controls .control-1,
.service-slider-btn-2:checked ~ .service-slider-controls .control-2,
.service-slider-btn-3:checked ~ .service-slider-controls .control-3 {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.service-slider-inner {
    float: right;
    width: 620px;
    min-height: 284px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.service-slider-btn-1:checked ~ .service-slider-inner {
    background-image: url(../images/service_slide_delivery.png);
}

.service-slider-btn-2:checked ~ .service-slider-inner {
    background-image: url(../images/service_slide_garanty.png);
}

.service-slider-btn-3:checked ~ .service-slider-inner {
    background-image: url(../images/service_slide_credit.png);
}

.service-slides {
    width: 300%;
    min-height: 272px;
}

.service-slider-btn-1:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.service-slider-btn-2:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(-620px);
    -ms-transform: translate(-620px);
    transform: translate(-620px);
}

.service-slider-btn-3:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(-1240px);
    -ms-transform: translate(-1240px);
    transform: translate(-1240px);
}

.service-slide {
    float: left;
    width: 620px;
}

.service-slide-title {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.service-slide-text {
    margin-bottom: 25px;
    width: 380px;
}

.service-slide-btn {
    width: 195px;
}

/* Company block */
.company-cols {
    position: relative;
    padding: 75px 0 86px 0;
}
.company-col-left {
    float: left;
    width: 540px;
}

.company-title {
    margin-bottom: 22px;
}

.company-text {
    margin-bottom: 22px;
}

.page-list {
    padding: 0;
    margin: 0 0 37px 0;
}

.page-list-item {
    position: relative;
    margin: 0;
    padding: 0 0 20px 35px;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    list-style: none;
}

.page-list-item:last-child {
    padding-bottom: 0;
}

.page-list-item:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    margin-right: 10px;
    background-color: #fb565a;
}

.company-info-btn {
    width: 220px;
}

.company-col-right {
    width: 300px;
    float: right;
}

.company-map {
    padding-top: 10px;
    margin-bottom: 35px;
}

.open-modal-map {
    display: inline-block;
    vertical-align: middle;
}

.modal-map {
    position: absolute;
    top: 33px;
    left: 0;
    display: none;
    width: 940px;
    height: 446px;
    box-shadow: 0 0 15px 1px rgba(35, 31, 32, 0.5);
    background: url(../images/map-open.png) no-repeat;
}

.modal-map-show {
    display: block;
}

.modal-map-close {
    z-index: 100;
}

.y-map {
    width: 940px;
    height: 446px;
}

/* MAIN CONTENT end */

/* MAIN FOOTER start */
/* Main Footer Content*/
.main-footer {
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #ffffff;
}

.main-footer-content {
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
}

.main-footer-content-col-left {
    width: 350px;
    margin-bottom: 31px;
    float: left;
}

.footer-logo {
    float: none;
    width: 220px;
    margin-bottom: 33px;
    padding: 18px 0 15px 0;
    font-size: 30px;
    line-height: 30px;
}

.main-footer-content-col-right {
    float: right;
    width: 548px;
    margin-top: 21px;
}

.footer-nav-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.footer-nav-list:nth-child(2) {
    margin-left: 25px;
}

.footer-nav-item {
    display: inline-block;
    vertical-align: middle;
}

.footer-nav-link {
    display: block;
    margin: 17px 29px 17px 29px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.footer-nav-item:first-child .footer-nav-link {
    margin-left: 0;
}

.footer-nav-item:last-child .footer-nav-link {
    margin-right: 0;
}

.footer-nav-list:nth-child(2) .footer-nav-link {
    color: #ffd180;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

.footer-nav-link:active {
    opacity: 0.5;
}

/* Footer Bar */
.main-footer-bar {
    padding: 37px 0 37px 0;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.main-footer-bar-col {
    float: left;
    width: 300px;
}

.main-footer-bar-col:nth-child(2) {
    width: 312px;
}

.main-footer-bar-col:last-child {
    float: right;
}

.main-footer-bar a {
    color: #ffd180;
    text-decoration: none;
}

.social-media {
    font-size: 0;
    text-align: center;
}

.social {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: #212a3a;
    border-radius: 50%;
}

.social:last-child {
    margin-right: 0;
}

.social:before {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
}

.social:hover,
.social:active {
    background-color: #ee3643;
}

.feedback {
    width: 150px;
    float: left;
}
.developer {
    width: 110px;
    float: right;
}

.feedback a:hover,
.developer a:hover {
    text-decoration: underline;
}

.feedback a:active,
.developer a:active {
    color: #ee3643;
    text-decoration: none;
}
/* MAIN FOOTER end */

/* pop-up */
@-webkit-keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 620px;
    height: 423px;
    margin: auto;
    border-top: 7px solid #ee3643;
    overflow: auto;
    background-color: #ffffff;
    -webkit-animation: fade 0.2s both;
    animation: fade 0.2s both;
}

.modal-contact {
    display: none;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-contact-show {
    display: block;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    padding: 10px;
    font-size: 0;
    cursor: pointer;
}

.modal-close:before,
.modal-close:after {
    content: '';
    position: absolute;
    top: 7px;
    right: 17px;
    width: 5px;
    height: 25px;
    background-color: #ee3643;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-content {
    padding: 47px 80px 12px 80px;
    font-size: 0;
}

.contact-form-label {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    margin: 0 0 21px 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
}

.contact-form-label:first-child {
    margin-right: 20px;
}

.contact-form-label:last-child {
    width: 460px;
}

.contact-form-item {
    width: 186px;
    margin: 10px 0 0 0;
    padding: 7px 15px 8px 15px;
    border: 2px solid #cccccc;
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    border-radius: 3px;
    outline: none;
}

.text-field {
    width: 426px;
    min-height: 94px;
}

.modal-footer {
    padding: 37px 80px 37px 80px;
    font-size: 0;
    background-color: #f1f1f1;
}

.modal-btn {
    display: inline-block;
    vertical-align: middle;
    width: 220px;
    margin: 0 20px 0 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    border: none;
    outline: none;
}

.modal-btn:last-child {
    margin-right: 0;
}

.modal-close-btn {
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Cuprum', 'Arial', sans-serif;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}

.modal-close-btn:hover {
    outline: 1px solid #bdc6ca;
}

.modal-close-btn:active {
    outline: 1px solid #ee3643;
}

.modal-cart {
    display: none;
    height: 275px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-cart-show {
    display: block;
}

.modal-cart-content {
    margin: 0;
    padding: 47px 80px 50px 80px;
}

.modal-text {
    padding: 0 0 0 100px;
    margin: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 66px;
    background: url(../images/modal_success.png) no-repeat;
    background-position: 0 50%;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.modal-error {
    -webkit-animation: shake 0.3s;
    animation: shake 0.3s;
}

/* CATALOG CONTENT start*/
/* catalog-header user-block */
.count-active,
.count-active:hover,
.count-active:active {
    background-color: #ee3643;
}

.user-block-top {
    background-color: #ffffff;
    margin-bottom: 5px;
}

.user-block-name {
    padding: 10px;
    float: left;
    width: 230px;
    font-size: 21px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.icon-user:before {
    font-size: 18px;
    color: #c5c5c5;
}

.user-block-logout {
    padding: 10px;
    float: right;
    font-size: 0;
}

.icon-logout:before {
    margin-right: 0;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #c5c5c5;
}

.icon-logout:hover:before,
.user-block-name:hover .icon-user:before {
    color: #32425c;
}

.icon-logout:active:before,
.user-block-name:active .icon-user:before,
.user-block-name:active {
    color: #c5c5c5;
}

.user-block-link {
    padding-left: 15px;
    color: #32425c;
    font-size: 16px;
    line-height: 24px;
}

.user-block-link:after {
    content: '';
    width: 4px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #32425c;
    margin-left: 15px;
}

.user-block-link:last-child:after {
    display: none;
}

.user-block-link:hover {
    color: #ee3643;
}

.user-block-link:active {
    color: #c5c5c5;
}

/* PAGE CONTENT start */
.breadcrumbs-item,
.filter-header-title,
.filter-title,
.catalog-btn,
.sort-item,
.paginator-link {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.breadcrumbs {
    margin-top: 18px;
    margin-bottom: 23px;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    text-decoration: none;
}

.breadcrumbs-item:first-child {
    font-size: 0;
}

.breadcrumbs-item:after {
    content: '\3e';
    display: inline-block;
    width: 15px;
    margin: 0 10px 0 11px;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    font-family: 'symbols-technomart';
    color: #c1c6ce;
}

.breadcrumbs-item:last-child:after {
    display: none;
}

.icon-home:before {
    margin: 0;
    font-size: 16px;
    color: #c1c6ce;
}

.page-header {
    display: block;
    margin-bottom: 20px;
    padding: 26px 25px 25px 25px;
    background-color: #f2f6f8;
}

.inner-header-title {
    color: #32425c;
}

/* Filter */
.catalog-filter {
    float: left;
    width: 220px;
}

.filter-header {
    margin-bottom: 12px;
    padding: 10px 0 10px 19px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-header-title {
    float: left;
    width: 182px;
}

.filter-title {
    margin-bottom: 13px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
}

.filter {
    width: 220px;
    padding: 0 0 25px 0;
    margin: 0 0 17px 0;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter:last-of-type {
    margin-bottom: 56px;
    border-bottom: none;
}

/* Price */
.range-controls {
    position: relative;
    min-height: 41px;
    margin-bottom: 9px;
    padding: 39px 20px 0 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    background: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 158px;
}

.price-controls {
    font-size: 0;
    line-height: 18px;
}

.price-controls-min {
    float: left;
    width: 117px;
}

.price-controls-min:after {
    content: '—';
    padding: 10px 8px;
    font-size: 17px;
}

.price-controls-max {
    width: 95px;
    float: right;
}

.price-controls input[type='text'] {
    width: 79px;
    margin: 0;
    padding: 8px;
    border: none;
    font-size: 17px;
    text-align: center;
    background-color: #f7f3ec;
    border-radius: 3px;
}

/* Brands and Supply */
.filter-brands-item,
.filter-supply-item {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-left: 34px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-brands-item:last-of-type,
.filter-supply-item:last-of-type {
    margin-bottom: -3px;
}

.filer-brands-checkbox,
.filter-supply-radio {
    display: none;
}

.filter-brands-item:before,
.filer-brands-checkbox:checked + .filter-brands-item:before,
.filter-supply-item:before,
.filter-supply-radio:checked + .filter-supply-item:before {
    content: '\2610';
    position: absolute;
    top: 2px;
    left: 0px;
    vertical-align: middle;
    font-family: 'symbols-technomart';
    font-size: 28px;
    line-height: 20px;
    color: #c1c1c1;
}

.filter-supply-item:before {
    content: '\25cb';
}

.filer-brands-checkbox:checked + .filter-brands-item:before,
.filer-brands-checkbox:disabled:checked + .filter-brands-item:before {
    content: '\2611';
}

.filter-supply-radio:checked + .filter-supply-item:before,
.filter-supply-radio:disabled:checked + .filter-supply-item:before {
    content: '\25cf';
}

.filer-brands-checkbox:disabled + .filter-brands-item:before,
.filter-supply-radio:disabled + .filter-supply-item:before {
    opacity: 0.3;
}

.catalog-btn {
    box-sizing: content-box;
    width: 138px;
    padding: 10px 0;
    border: 1px solid #e5e5e5;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    border-radius: 3px;
}

.catalog-btn:hover {
    border-color: #bdc6ca;
    outline: none;
}

.catalog-btn:active {
    border-color: #ee3643;
    outline: none;
}

/* Gallery */
.catalog-gallery {
    float: right;
    width: 700px;
    margin-bottom: 60px;
}

.catalog-gallery .filter-header {
    height: 18px;
}

.catalog-products {
    margin-bottom: 30px;
}

.catalog-products .product-card {
    margin-bottom: 20px;
}

.sort-direction {
    float: right;
    width: 64px;
    margin-right: 7px;
}

.sort-dir {
    float: left;
    width: 32px;
    margin: 0;
    font-size: 0;
    text-decoration: none;
    color: #c6c2bd;
}

.sort-dir:hover {
    color: #000000;
}

.sort-dir-active {
    color: #ee3643;
}

.icon-up-dir:before,
.icon-down-dir:before {
    font-size: 23px;
    line-height: 18px;
}

.sort-list {
    float: right;
    width: 390px;
}

.sort-item {
    float: left;
    margin-right: 65px;
    border-bottom: 1px dotted #ee3643;
    color: #c6c2bd;
}

.sort-item:first-child {
    margin-right: 70px;
}

.sort-item:last-child {
    margin-right: 0;
}

.sort-item:hover {
    border-bottom: 1px solid #ee3643;
    color: #000000;
}

.sort-item-active {
    border-bottom: none;
    color: #ee3643;
}

.catalog-products {
    padding-top: 8px;
    font-size: 0;
}

.catalog-products .product-card:nth-child(3n) {
    margin-right: 0;
}

.catalog-paginator {
    font-size: 0;
}

.paginator-link {
    display: inline-block;
    vertical-align: middle;
    min-width: 38px;
    margin-right: 8px;
    padding: 10px 0 10px 0;
    border: 1px solid #e5e5e5;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    border-radius: 3px;
}

.paginator-link:last-child {
    margin-right: 0;
}

.paginator-link:hover {
    border-color: #bdc6ca;
}

.paginator-link:active {
    border-color: #ee3643;
}

.paginator-link-current,
.paginator-link-current:hover,
.paginator-link-current:active {
    background-color: #ee3643;
    border-color: #ee3643;
    color: #ffffff;
    cursor: default;
}

/* Catalog Promo */
.catalog-promo {
    padding: 61px 0 69px 0;
    background-color: #f2f6f8;
}

.catalog-promo-title {
    margin-bottom: 21px;
}

/* Extra */

.page-contact-form {
    margin: -30px 0 80px 0;
}

.page-contact-center {
    width: 460px;
    margin: 0 auto 0 auto;
}
