@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 10px;
  text-align: center;
  opacity: 1;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  font-size: 100%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

 
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '🏠'; } /* '\1f3e0' */
.icon-user:before { content: '👨'; } /* '\1f468' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */

/* Custom :hover and :active styles for icons*/

.icon-search:before {
    position: absolute;
    top: 12px;
    left: 20px;
    margin-right: 10px;
    font-size: 130%;
    color: #6a7180;
}

.search input[type="search"]:hover ~ .icon-search:before {
    color: #ffffff;
}

.search button[type="submit"]:hover ~ .icon-search:before {
    color: #ffffff;
    cursor: pointer;
}

.search input[type="search"]:focus ~ .icon-search:before {
    color: #ee3643;
}

.icon-bookmark:before,
.icon-basket:before {
    opacity: 0.5;
}

.icon-bookmark:hover:before,
.icon-basket:hover:before {
    opacity: 1;
}

.icon-bookmark:active:before,
.icon-basket:active:before {
   opacity: 0.5;
}

.icon-phone:before {
    margin-right: 33px;
    color: #b7bfc8;
}

.icon-login:before {
    color: #c5c5c5;
}

.icon-login:hover:before {
    color: #32425c;
}

.icon-login:active:before {
    color: #c5c5c5;
}

.icon-left:before,
.icon-right:before {
    position: absolute;
    bottom: 65px;
    font-size: 45px;
    color: #ffffff;
}

.icon-left:before {
    left: -290px;
}

.icon-right:before {
    right: -290px;
}

.product-card-actions .icon-basket:before {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 130%;
    margin-right: 20px;
    opacity: 0.5;
}

.product-card-actions .icon-basket:hover:before,
.product-card-actions .icon-basket:active:before {
    opacity: 1;
}

/* Common styles */

body {
    min-width: 960px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;
}

img {
    max-width: 100%;
    height: auto;
}

.container-center {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

.page-title {
    padding: 0;
    margin: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 30px;
    line-height: 38px;
    vertical-align: middle;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.page-text {
    margin: 0;
    padding: 0;
}

.btn {
    display: block;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

/* MAIN HEADER start */

.main-header {
    font-family: 'Cuprum', 'Arial', sans-serif;
    margin-bottom: 60px;
}

/* Main Header Bar */
.main-header-bar {
    background-color: #32425c;
}

.bar-btn {
    position: relative;
    width: 150px;
    float: left;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 42px;
    background-color: #32425c;
    border-radius: 0;
    text-decoration: none;
    color: #ffffff;
}

.bar-btn:last-child {
    margin-right: 0;
}

.logo {
    width: 220px;
    padding: 9px 0 9px 0;
    float: left;
    background-color: #ee3643;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    box-shadow: 0 5px #b52933;
    border-radius: 0;
}

.bar-logo:hover {
    background-color: #ca2c37;
}

.bar-logo:active {
    background-color: #ba2732;
}

.search {
    position: relative;
    width: 270px;
    float: left;
}

.search input[type="search"] {
    float: right;
    padding-left: 49px;
    width: 220px;
    height: 40px;
    background-color: #32425c;
    border: none;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    opacity: 1;
}

.search input[type="search"]:hover {
    background-color: #212a3a;
}

.search input[type="search"]:focus {
    background-color: #ffffff;
    outline: none;
    color: #000000;
}

.search button[type="submit"] {
    display: none;
}

.search input::-webkit-input-placeholder {
    color: #ffffff;
}
 
.search input:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
}
 
.search input::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
}
 
.search input:-ms-input-placeholder {
    color: #ffffff;
}

.bar-bookmark-count:hover,
.bar-cart-count:hover {
   background-color: #212a3a;
}

.bar-bookmark-count:active,
.bar-cart-count:active {
   background-color: #161d29;
   color: #a2a4a6;
}

.bar-order-btn {
    background-color: #63a63e;
}

.bar-order-btn:hover {
    background-color: #5fbb2d
}

.bar-order-btn:active {
    background-color: #518534;
}

/* Main Header Content */
.main-header-content {
    background-color: #f1f5f7;
    padding-top: 45px;
    padding-bottom: 60px;
}

.header-content-cols {
    margin-bottom: 45px;
}

.main-header-text {
    float: left;
    margin: 0 50px;
    width: 220px;
    font-style: italic;
    font-weight: 400;
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
}

.main-header-contacts {
    float: left;
    width: 270px;
}

.contacts-tel {
    padding: 8px 46px 8px 10px;
    border: 3px solid #ffffff;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.contacts-adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
}

.user-block {
    float: right;
    width: 300px;
    font-size: 0;
}

.user-block-btn {
    display: inline-block;
    vertical-align: top;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 21px;
    line-height: 45px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-transform: none;
    text-decoration: none;
}

.user-block-login {
    margin: 0 10px 0 20px;
    padding: 0 25px 0 11px;
}

.user-block-sign-up {
    padding: 0 24px;
}

.user-block-login:hover,
.user-block-sign-up:hover {
    color: #ee3643;
}

.user-block-login:active,
.user-block-sign-up:active {
    color: #c5c5c5;
}


/* Main Navigation */
.main-nav {
    padding: 0;
}

.main-nav-list {
    padding: inherit;
    font-size: 0;
}

.main-nav-item {
    display: inline-block;
    vertical-align: top;
}

.main-nav-link {
    display: block;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 55px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    border-bottom: 5px solid #293449;
    text-decoration: none;
    padding: 0 30px;
    background-color: #32425c;
    border-radius: 0;
}

.main-nav-item:first-child .main-nav-link {
    padding-left: 52px;
    padding-right: 32px;
}

.main-nav-item:last-child .main-nav-link {
    padding-left: 31px;
    padding-right: 55px;
}

.main-nav-link:hover {
    background-color: #293449;
}

.main-nav-link:active {
    color: #b2b2b2;
    background-color: #1d2739;
}

/* MAIN HEADER end */

/* MAIN CONTENT start */
.features {
    margin-bottom: 33px;
}
.features-col-left {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
.features-col-right {
    margin-bottom: 20px;
    float: right;
}
.features-item {
    position: relative;
    width: 275px;
    min-height: 123px;
    padding-left: 25px;
}

.features-item:first-child {
    background-color: #f6b22d;
}

.features-item:nth-child(2) {
    background-color: #4aafde;
}

.features-item:nth-child(3) {
    background-color: #cc79d1;
}

.features-item:nth-child(5) {
    background-color: #85d179;
}

.features-item:last-child {
    background-color: #f6b22d;
}

.features-item:before {
    position: absolute;
    top:20%;
    left: 70%;
    display: block;
    content: '';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
}

.features-item:first-child:before {
    width: 44px;
    height: 65px;
    background-position: -93px -5px;
}

.features-item:nth-child(2):before {
    width: 75px;
    height: 61px;
    background-position: -304px -5px;;
}

.features-item:nth-child(3):before {
    width: 78px;
    height: 62px;
    background-position: -147px -5px;
}

.features-item:nth-child(5):before {
    width: 59px;
    height: 72px;
    background-position: -235px -5px;
}

.features-item:last-child:before {
    width: 78px;
    height: 63px;
    background-position: -5px -5px;
}

.features-item:after {
    position: absolute;
    top:0;
    right: 0;
    display: none;
    width: 60px;
    height: 59px;
    content: '';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -389px -5px;
}

.features-item:first-child:after {
    display: block;
}

.features-item-title {
    margin: 18px 0 15px 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.features-item-btn {
    width: 135px;
    margin-bottom: 22px;
    background-color: rgba(0, 0, 0, 0.1);
}

.features-item-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.features-item-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.features-slider {
    position: relative;
    width: 620px;
}

.features-slider-controls {
    position: absolute;
    left: 50%;
    bottom: 36px;
    margin-left: -12px;
    text-align: center;
    z-index: 100;
}

.features-slider-control {
    position: relative;
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.features-slider-control:first-child {
    margin-right: 10px;
}

.features-slider input[type="radio"] {
    display: none;
}

#features-slider-btn-1:checked ~ .features-slider-controls label[for="features-slider-btn-1"],
#features-slider-btn-2:checked ~ .features-slider-controls label[for="features-slider-btn-2"] {
    background-color: #ca2c37;
}

.features-slider-inner {
    overflow: hidden;
}

.features-slides {
    width: 200%;
    min-height: 266px;
    background-image: url(../images/features_slides.jpg);
    background-repeat: no-repeat;
}

#features-slider-btn-1:checked ~ .features-slider-inner .features-slides {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

#features-slider-btn-2:checked ~ .features-slider-inner .features-slides {
    -webkit-transform: translate(-620px);
    -ms-transform: translate(-620px);
    transform: translate(-620px);
}

.features-slide {
    float: left;
    width: 595px;
    padding-left: 25px;
    padding-top: 25px;
}

.features-slide-title {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.features-slide-text {
    margin: 0 0 120px 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.features-slide-btn {
    width: 195px;
    line-height: 38px;
}



/* Popular Products */

.header-popular {
    display: block;
    background-color: #f7f3ec;
    padding: 25px;
    margin-bottom: 20px;
}

.header-popular-title {
    float: left;
    color: #32425c;
}

.header-popular-btn {
    min-width: 253px;
    float: right;
}

.products {
    font-size: 0;
}

.product-card {
    position: relative;
    width: 218px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 17px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #cccccc;
}

.product-card:after {
    position: absolute;
    top:0;
    right: 0;
    display: none;
    width: 60px;
    height: 59px;
    content: '';
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -389px -5px;
}

.popular-products .product-card:last-child:after {
    display: block;
}

.popular-products .product-card:nth-child(4n) {
    margin-right: 0;
}

.product-card:hover {
    box-shadow: 0 10px 25px rgba(0, 1, 1, 0.5);
}

.product-card-actions {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #fff;
}

.product-card:hover .product-card-actions {
    display: block;
}

.product-card-actions-buy,
.product-card-actions-bookmark {
    background-color: #63a63e;
    width: 135px;
    margin: 0 auto 7px;
}

.product-card-actions-buy {
    position: relative;
    box-shadow: inset 0 -3px 0 #367315;
}

.product-card-actions-bookmark {
    width: 129px;
    line-height: 32px;
    vertical-align: middle;
    color: #63a63e;
    border: 3px solid #63a63e;
    background-color: #ffffff;
}

.product-card-actions-buy:hover {
    background-color: #5fbb2d;
}

.product-card-actions-buy:active {
    background-color: #518534;
    box-shadow: inset 0 -3px 0 #518534;
}


.product-card-actions-bookmark:hover {
    background-color: #ffffff;
    border-color: #32425c;
    color: #32425c;
}

.product-card-actions-bookmark:active {
    background-color: #ffffff;
    border-color: #c1c6ce;
    color: #c1c6ce;
}

.product-card-image {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 160px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 168px;
    overflow: hidden;
}

.product-card-image img {
    display: inline-block;
    vertical-align: middle;
}

.product-card-title {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0 25px;
}

.product-card-discount {
    margin-bottom: 10px;
    min-height: 20px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #999999;
}

.product-card-price {
    position: relative;
    width: 80px;
    margin: 0 auto 20px;
    padding: 0 30px;
    font-size: 17px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
}

.product-card-price:after {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    content: '';
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

/* Popular Brands */
.brands-list {
    font-size: 0;
    margin-bottom: 65px;
}
.brands-item {
    display: inline-block;
    vertical-align: top;
    width: 218px;
    min-height: 145px;
    margin-right: 20px;
    text-align: center;
    line-height: 145px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

.brands-item:hover {
    box-shadow: 0 10px 25px rgba(0, 1, 1, 0.5);
}

.brands-item:active {
    box-shadow: 0 4px 10px rgba(0, 1, 1, 0.5);
}

.brands-item img {
    display: inline-block;
    vertical-align: middle;
}

.brands-item:nth-child(4n) {
    margin-right: 0;
}

.brands-item:active img {
    opacity: 0.5;
}

/* Service */

.service {
    padding-top: 65px;
    background-color: #f2f6f8;
}

.service-title {
    margin-bottom: 25px;
}

.service-text {
    width: 400px;
    margin: 0 0 25px 0;
    padding: 0;
    color: #000000;
}

.service-slider {
    position: relative;
    width: 700px;
    margin: 0 0 0 240px;
}

.service-slider-controls {
    position: absolute;
    top: 47px;
    left: -240px;
    width: 240px;
}

.service-slider-control {
    padding: 15px 22px;
    display: block;
    background-color: #32425c;
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    cursor: pointer;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.service-slider-control:hover {
    background-color: #293449;
}

.service-slider input[type="radio"] {
    display: none;
}

#service-slider-btn-1:checked ~ .service-slider-controls label[for="service-slider-btn-1"],
#service-slider-btn-2:checked ~ .service-slider-controls label[for="service-slider-btn-2"],
#service-slider-btn-3:checked ~ .service-slider-controls label[for="service-slider-btn-3"] {
    background-color: #ffffff;
    color: #32425c;
    border-color: #ffffff;
}

.service-slider-inner {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#service-slider-btn-1:checked ~ .service-slider-inner {
    background-image: url(../images/service_slide_delivery.png);
}

#service-slider-btn-2:checked ~ .service-slider-inner {
    background-image: url(../images/service_slide_garanty.png);
}

#service-slider-btn-3:checked ~ .service-slider-inner {
    background-image: url(../images/service_slide_credit.png);
}

.service-slides {
    width: 300%;
    min-height: 272px;
}

#service-slider-btn-1:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

#service-slider-btn-2:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(-700px);
    -ms-transform: translate(-700px);
    transform: translate(-700px);
}

#service-slider-btn-3:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(-1400px);
    -ms-transform: translate(-1400px);
    transform: translate(-1400px);
}

.service-slide {
    float: left;
    width: 620px;
    padding: 47px 0 57px 80px;
}

.service-slide-title {
    margin: 0 0 25px 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.service-slide-text {
    margin: 0 0 30px 0;
    padding: 0;
    width: 380px;
    color: #000000;
}

.service-slide-btn {
    width: 195px;
    line-height: 38px;
}


/* pseudo-shadow */
.service-slider:before {
    position: absolute;
    left: -10px;
    content: '';
    width: 10px;
    height: 272px;
    background: url(../images/shadow-service.png) no-repeat;
    z-index: 100;
}

/* Company block */
.company-cols {
    position: relative;
    padding: 50px 0 85px 0;
}
.company-col-left {
    width: 540px;
    float: left;
}

.company-title {
    margin-bottom: 25px;
}

.company-text {
    margin-bottom: 25px;
}

.page-list {
    padding: 0;
    margin: 0 0 35px 0;
}

.page-list-item {
    position: relative;
    margin: 0;
    padding: 0px 0 15px 35px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
}

.page-list-item:last-child {
    padding-bottom: 0;
}

.page-list-item:before {
    position: absolute;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.company-info-btn {
    width: 220px;
}

.company-col-right {
    width: 300px;
    float: right;
}

.company-map {
    margin-bottom: 32px;
}

.company-map-open {
    position: absolute;
    top: 33px;
    left: 0;
    display: none;
    width: 940px;
    height: 446px;
    box-shadow: 0 0 20px rgba(0, 1, 1, 0.5);
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 21px;
    padding: 10px;
    font-size: 0;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -469px 5px;
    cursor: pointer;
}

/* MAIN CONTENT end */

/* MAIN FOOTER start */
/* Main Footer Content*/

.main-footer {
    font-family: 'Cuprum', 'Arial', sans-serif;
    color: #ffffff;
}

.main-footer-content {
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
}

.main-footer-content-col-left {
    margin-bottom: 30px;
    width: 350px;
    float: left;
}

.footer-logo {
    width: 220px;
    margin-bottom: 33px;
    padding: 16.5px 0 16.5px 0;
    font-size: 30px;
    line-height: 30px;
    float: none;
}

.footer-logo:hover,
.footer-logo:active {
    background-color: #ee3643;
}

.main-footer-content-col-right {
    width: 550px;
    float: right;
    margin-top: 22px;
}

.footer-nav-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.footer-nav-list:nth-child(2) {
    margin-left: 25px;
}

.footer-nav-item {
    display: inline-block;
    vertical-align: middle;
}

.footer-nav-link {
    padding: 16.5px 29.5px 16.5px 29.5px;
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.footer-nav-item:first-child .footer-nav-link {
    padding-left: 0;
}

.footer-nav-item:last-child .footer-nav-link {
    padding-right: 0;
}

.footer-nav-list:nth-child(2) .footer-nav-link {
    color: #ffd180;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

.footer-nav-link:active {
    opacity: 0.5;
}

/* Footer Bar */
.main-footer-bar {
    padding: 35px 0 35px 0;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.main-footer-bar-col {
    width: 300px;
    float: left;
}
.main-footer-bar-col:last-child {
    float: right;
}

.main-footer-bar a {
    color: #ffd180;
    text-decoration: none;
}

.social-media {
    font-size: 0;
    text-align: center;
    line-height: 42px;
}

.social {
    width: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    background-color: #212a3a;
    border-radius: 50%;
    margin-right: 5px;
}

.social:last-child {
    margin-right: 0;
}

.social:before {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffff;
}

.social:hover,
.social:active {
    background-color: #ee3643;
}

.feedback {
    width: 150px;
    float: left;
}
.developer {
    width: 110px;
    float: right;
}

.feedback a:active,
.developer a:active {
    color: #ee3643;
}
/* MAIN FOOTER end */

/* pop-up */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -215px;
    margin-left: -310px;
    width: 620px;
    min-height: 423px;
    border-top: 7px solid #ee3643;
    display: none;
    background-color: #ffffff;
    box-shadow: 0 20px 40px rgba(0, 1, 1, 0.5);
    z-index: 100;
}

.modal-top {
    padding: 45px 80px 15px 80px;
    font-size: 0;
}

.contact-form-label {
    margin: 0 0 20px 0;
    padding: 0;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.contact-form-label:first-child {
    margin-right: 20px;
}

.contact-form-label:last-child {
    width: 460px;
}

.contact-form-item {
    width: 186px;
    margin: 10px 0 0 0;
    padding: 9px 15px 9px 15px;
    border: 2px solid #cccccc;
    border-radius: 3px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.text-field {
    width: 426px;
}

.modal-bottom {
    padding: 37px 80px 37px 80px;
    font-size: 0;
    background-color: #f1f1f1;
}

.modal-btn {
    margin: 0 20px 0 0;
    padding: 0;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    border: none;
}

.modal-btn:last-child {
    margin-right: 0;
}

.form-btn {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Cuprum', 'Arial', sans-serif;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
}


/* CATALOG CONTENT start*/

/* catalog-header user-block */

.count-active,
.count-active:hover,
.count-active:active {
    background-color: #ee3643;
}

.user-block-top {
    background-color: #ffffff;
}

.user-block-name {
    padding: 10px;
    float: left;
    width: 230px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.icon-user:before {
    color: #c5c5c5;
}

.user-block-logout {
    padding: 10px;
    float: right;
    font-size: 0;
    line-height: 0;
}

.icon-logout:before {
    margin-right: 0;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    color: #c5c5c5;
}

.icon-logout:hover:before,
.user-block-name:hover .icon-user:before {
    color: #32425c;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: baseline;
}

/* Filter */
.catalog-filter {
    width: 220px;
    float: left;
}
.filter-price,
.filter-brands,
.filter-supply {
    margin: 0;
    padding: 0;
}

/* Gallery */
.catalog-gallery {
    width: 700px;
    float: right;
}
.catalog-gallery-sort {
    
}
.sort-header {
    float: left;
    width: 140px;
    outline: 1px solid red;
}
.sort-list {
    float: right;
    width: 380px;
    outline: 1px solid red;
}
.sort-direction {
    float: right;
    width: 60px;
    outline: 1px solid red;
}
.sort-direction {
    font-size: 0;
}
.sort-list {
    font-size: 0;
}
.sort-item {
    display: inline-block;
    vertical-align: baseline;
    font-size: 13px;
}
.catalog-products {
    font-size: 0;
}
.catalog-products .product-card:nth-child(3n) {
    margin-right: 0;
}
.catalog-paginator {
    font-size: 0;
}
.paginator-link {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
}
/* CATALOG CONTENT end*/
